In [11]:
import pandas as pd

# Rankeamento de Ações com base em indicadores

## EV-EBIT

In [12]:
# Abre o dataset
ev_ebit = pd.read_excel('../Bruto/EVEBIT.xlsx', Header = None)
ev_ebit

,Data,524 PARTICIP ON MB - QVQP3B,ABC BRASIL PN N2 - ABCB4,ACO ALTONA ON - EALT3,ACO ALTONA PN - EALT4,ADVANCED-DH ON - ADHM3,AES TIETE E ON N2 - TIET3,AES TIETE E PN N2 - TIET4,AES TIETE E UNT N2 - TIET11,AFLUENTE T ON - AFLT3,...,VULCABRAS ON - VULC3,WEG ON NM - WEGE3,WETZEL S/A ON - MWET3,WETZEL S/A PN - MWET4,WHIRLPOOL ON - WHRL3,WHIRLPOOL PN - WHRL4,WIZ S.A. ON NM - WIZS3,WLM IND COM ON - WLMM3,WLM IND COM PN - WLMM4,YDUQS PART ON NM - YDUQ3
0,,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,...,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT,EV/EBIT
1,Código,QVQP3B,ABCB4,EALT3,EALT4,ADHM3,TIET3,TIET4,TIET11,AFLT3,...,VULC3,WEGE3,MWET3,MWET4,WHRL3,WHRL4,WIZS3,WLMM3,WLMM4,YDUQ3
2,2015-12-31 00:00:00,NaN,NaN,10.6689,8.11111,-2.30042,NaN,NaN,NaN,NaN,...,NaN,-4.88928,-1.34511,-1.33088,-0.43962,-1.14714,-0.897425,6.22726,-3.99606,-5.18065
3,2016-01-08 00:00:00,NaN,NaN,10.6689,8.11111,-2.30042,NaN,NaN,5.14168,4.87299,...,-3.99606,-5.18065,-1.76505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-15 00:00:00,NaN,NaN,10.6689,8.11111,-2.10767,5.63319,5.46936,4.39459,10.6482,...,NaN,NaN,NaN,NaN,NaN,-14.3676,NaN,6.33031,NaN,9.73424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,para seus cotistas superiores ao capital aplic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,e regulamento do fundo de investimento ao apl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,Os valores exibidos estão em Real (BRL).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Fonte: Quantum Axis.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Removendo informações indesejadas
ev_ebit = ev_ebit.drop([0])
ev_ebit = ev_ebit.drop([211,212,213,214,215,216,217,218,219,220])

# Trocando NaN por 0

ev_ebit = ev_ebit.fillna(0)

In [14]:
# Conferindo
ev_ebit

,Data,524 PARTICIP ON MB - QVQP3B,ABC BRASIL PN N2 - ABCB4,ACO ALTONA ON - EALT3,ACO ALTONA PN - EALT4,ADVANCED-DH ON - ADHM3,AES TIETE E ON N2 - TIET3,AES TIETE E PN N2 - TIET4,AES TIETE E UNT N2 - TIET11,AFLUENTE T ON - AFLT3,...,VULCABRAS ON - VULC3,WEG ON NM - WEGE3,WETZEL S/A ON - MWET3,WETZEL S/A PN - MWET4,WHIRLPOOL ON - WHRL3,WHIRLPOOL PN - WHRL4,WIZ S.A. ON NM - WIZS3,WLM IND COM ON - WLMM3,WLM IND COM PN - WLMM4,YDUQS PART ON NM - YDUQ3
1,Código,QVQP3B,ABCB4,EALT3,EALT4,ADHM3,TIET3,TIET4,TIET11,AFLT3,...,VULC3,WEGE3,MWET3,MWET4,WHRL3,WHRL4,WIZS3,WLMM3,WLMM4,YDUQ3
2,2015-12-31 00:00:00,0,0,10.6689,8.11111,-2.30042,0,0,0,0,...,0,-4.88928,-1.34511,-1.33088,-0.43962,-1.14714,-0.897425,6.22726,-3.99606,-5.18065
3,2016-01-08 00:00:00,0,0,10.6689,8.11111,-2.30042,0,0,5.14168,4.87299,...,-3.99606,-5.18065,-1.76505,0,0,0,0,0,0,0
4,2016-01-15 00:00:00,0,0,10.6689,8.11111,-2.10767,5.63319,5.46936,4.39459,10.6482,...,0,0,0,0,0,-14.3676,0,6.33031,0,9.73424
5,2016-01-22 00:00:00,0,0,10.6689,8.08748,-2.10767,5.3219,5.73149,4.50272,10.6482,...,0,0,0,0,0,-15.9569,0,6.33031,0,9.30526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,2019-11-29 00:00:00,0,0,13.4471,6.58086,-2.58796,11.6688,11.1095,11.1934,24.9543,...,19.5038,18.4019,17.5402,12.1634,10.6247,-58.161,0,-1.6552,12.1257,37.6462
207,2019-12-06 00:00:00,0,0,13.502,6.98891,-2.53722,12.1442,11.5849,11.6856,23.7459,...,19.8145,19.0941,17.5119,12.4554,10.6884,-63.909,0,-1.69693,12.9394,40.5312
208,2019-12-13 00:00:00,0,0,13.0233,7.24002,-2.72328,12.3958,12.0603,12.2001,23.8063,...,19.4472,17.5119,12.9692,11.2474,-68.1114,0,-1.71657,13.2211,42.1602,-4.33035
209,2019-12-20 00:00:00,0,0,13.5491,7.49112,-5.10826,12.7873,12.5636,12.4797,21.2084,...,13.9096,41.9612,-4.33035,-4.21741,22.2907,23.2022,5.99672,7.8063,8.44468,19.865
210,2019-12-27 00:00:00,0,0,13.4157,7.53821,-4.53316,14.4651,12.6475,12.9775,20.5438,...,14.2695,43.7644,-4.33035,-4.24434,25.2076,26.3795,6.08214,9.04551,8.83522,20.127

## A intenção é criar um dataframe, onde as datas são linhas e as colunas estão ordenadas pelos melhores valores

Para isso, devemos:
- analisar cada data (linha)
- remover os outliers
- adicionar os 10 primeiros a um dataframe "Ranking"

In [32]:
ranking = pd.DataFrame()

s = ev_ebit.loc[2]
data = s.loc['Data']
data

Timestamp('2015-12-31 00:00:00')

In [38]:
for i in range (2,len(ev_ebit)):
    s = ev_ebit.loc[i]
    data = s.loc['Data']
    s = s.drop(labels='Data')
    s = s.sort_values(ascending=False)
    s = s[s < 3000]
    s = s[s > 0]
    # de algum jeito botar no dataframe ranking

,ACO ALTONA ON - EALT3,ACO ALTONA PN - EALT4,ALFA CONSORC PNA - BRGE5,ALFA INVEST PN - BRIV4,ALIANSCSONAEON NM - ALSO3,ALIPERTI ON - APTI3,ALL NORTE PNA MB - FRRN5B,ALPARGATAS PN N1 - ALPA4,ALUPAR UNT N2 - ALUP11,AMAZONIA ON - BAZA3,...,CEB PNB - CEBR6,BRASILAGRO ON NM - AGRO3,BBSEGURIDADE ON NM - BBSE3,BR BROKERS ON NM - BBRK3,CCR SA ON NM - CCRO3,ALFA HOLDING ON - RPAD3,BBMLOGISTICAON MA - BBML3,BAUMER PN - BALM4,BAUMER ON - BALM3,BATTISTELLA ON - BTTL3
2,10.668884,8.111111,10.648227,3.731722,7.060900,2.732968,5.81882,12.036640,12.744750,9.645828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.668884,8.111111,NaN,2.732968,NaN,NaN,12.03664,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.668884,8.111111,NaN,NaN,NaN,5.842586,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10.668884,8.087477,NaN,NaN,NaN,5.568399,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10.668884,7.859010,NaN,NaN,NaN,5.422166,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,14.066997,6.431765,NaN,NaN,24.449966,NaN,NaN,52.155923,6.146664,NaN,...,2.691810,6.023909,NaN,NaN,49.229830,11.343765,17.052297,17.914412,27.471830,NaN
206,13.447076,6.580860,NaN,NaN,24.881411,NaN,NaN,53.767078,6.245788,NaN,...,2.540698,11.385870,NaN,NaN,18.354571,11.428086,NaN,17.298615,17.914412,27.434132
207,13.502005,6.988909,NaN,NaN,24.834129,NaN,NaN,54.224985,6.265881,NaN,...,2.531354,11.458575,NaN,NaN,18.216100,11.470247,NaN,15.451227,17.914412,26.642473
208,13.023332,7.240017,NaN,NaN,24.396774,NaN,NaN,56.175330,6.387777,NaN,...,2.643480,11.977896,NaN,NaN,18.623822,11.470247,NaN,15.438911,17.914412,27.471830
209,13.549088,7.491124,NaN,NaN,26.370783,NaN,NaN,54.733771,6.397153,NaN,...,2.708887,12.164852,NaN,NaN,19.623895,11.870776,NaN,15.414279,17.298615,29.771410